@font-face {
    font-family: 'FuentePrincipal'; 
    src: url('../Amethysta-Regular.ttf') format('truetype'); 
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #ffffff; /* Cambiar color de fondo según sea necesario */
}

input[type="date"]:focus {
    outline: none;
    border-color: #143419;
    box-shadow: 0 0 5px #143419;
}

input[type="date"]:hover {
    border-color: #143419;
}

h1.titulo_form{
    font-size: 48;
    color: #B37E56;
}

hr{
    margin: 20px;
    border: none; 
    height: 3px; /* Set the hr color */ 
    color: #B37E56; /* old IE */ 
    background-color: #B37E56; /* Modern Browsers */
}

button.Boton_cancelar{
    background-color: #C7B392;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

td {
    white-space: nowrap; /* Evita el salto de línea dentro de las celdas */
}

button.Boton_Tabla{
    background-color: #143419;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block; /* Permite que los botones se muestren en línea */
    white-space: nowrap; /* Evita que los botones se envuelvan */
}

button.Boton_Tabla:hover{
    background-color: #1d4d25;
}

.tabla_titulo {
    width: 80%;
    margin: 0 auto;
    display: block;
    justify-content: space-between;
    font-size: 1.5rem;
    /* font-weight: 800; */
    
    hr {
    width: 80%;
    /* margin: 0 auto; */
    padding: 20px;
    border-left: none;
    }
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
input[type="number"],
textarea {
 font-family:"FuentePrincipal" ;
}

textarea{
    resize: none;
}

/* Estilos para el campo obligatorio */
.campo-obligatorio {
    color: red; /* Color rojo para resaltar */
    font-size: 16px; /* Tamaño de fuente más pequeño */
    margin-left: 5px; /* Espaciado a la izquierda */
}

.section-main{
    font-weight: bold;
}

.titbot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titbot button{
    margin-left: auto;
}

button.btngeneral{
    font-family: 'FuentePrincipal', sans-serif;
    background-color: #143419;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.btngeneral:hover{
    background-color: #1d4d25;
}

a.btngenerala{
    text-decoration: none; /* Quita el subrayado del enlace */
    color: inherit; /* Utiliza el color de texto heredado */
    cursor: pointer; /* Cambia el cursor al estilo de un botón */
    background: none; /* Elimina cualquier fondo del enlace */
    border: none; /* Elimina cualquier borde del enlace */
    padding: 0; /* Elimina el relleno del enlace */
    font: inherit; /* Utiliza la fuente heredada */
    outline: none; /* Quita el contorno del enlace al enfocarlo */
}

.formulario-datos2{
    padding: 20px 0px 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario-datos2-3{
    padding: 20px 0px 20px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.checklist {
    text-align: center; 
    margin-top: 10px; 
}

.checklist input[type="checkbox"] {
    margin-right: 10px;
}

.radioList {
    text-align: center;
}

.radioList input[type="radio"] {
    margin-right: 10px; 
}

.anade {
    float: right;
}