input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #ffffff; /* Cambiar color de fondo según sea necesario */
}

input[type="date"]:focus {
    outline: none;
    border-color: #143419;
    box-shadow: 0 0 5px #143419;
}

input[type="date"]:hover {
    border-color: #143419;
}

h1.titulo_form{
    font-size: 48;
    color: #B37E56;
}