html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
body {
    background-image: url('../../public/Principal_Calidad.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; 

}
.centered{
        font-size: 2.5rem;
        font-weight: 800;
        margin: 0 auto; 
        display: block; /* Asegura que el elemento sea tratado como un bloque */
        width: fit-content;
}

.nombre_Ventana{
    text-align: center;
}


.activo_en_pagina {
    color: black; /* Cambia el color del texto */
    position: relative; /* Establece la posición relativa para el posicionamiento absoluto del borde */
}

.activo_en_pagina:after {
    content: ''; /* Agrega contenido generado para la franja */
    position: absolute; /* Establece la posición absoluta */
    bottom: 0; /* Coloca la franja en la parte inferior del elemento */
    left: 0; /* Coloca la franja en el borde izquierdo del elemento */
    width: 100%; /* Establece el ancho de la franja al 100% del ancho del elemento */
    height: 5px; /* Establece la altura de la franja */
    background-color: #a77753; /* Color de la franja */
}

@media screen and (min-width: 600px) {
    .section-form {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Ajustar a tres columnas en pantallas más grandes */
@media screen and (min-width: 900px) {
    .section-form {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* th {
    width: 0%;
} */


.activo_en_pagina {
    color: black; /* Cambia el color del texto */
    position: relative; /* Establece la posición relativa para el posicionamiento absoluto del borde */
}

.activo_en_pagina:after {
    content: ''; /* Agrega contenido generado para la franja */
    position: absolute; /* Establece la posición absoluta */
    bottom: 0; /* Coloca la franja en la parte inferior del elemento */
    left: 0; /* Coloca la franja en el borde izquierdo del elemento */
    width: 100%; /* Establece el ancho de la franja al 100% del ancho del elemento */
    height: 5px; /* Establece la altura de la franja */
    background-color: #a77753; /* Color de la franja */
}