
.activo_en_pagina {
    color: black; /* Cambia el color del texto */
    position: relative; /* Establece la posición relativa para el posicionamiento absoluto del borde */
}

.activo_en_pagina:after {
    content: ''; /* Agrega contenido generado para la franja */
    position: absolute; /* Establece la posición absoluta */
    bottom: 0; /* Coloca la franja en la parte inferior del elemento */
    left: 0; /* Coloca la franja en el borde izquierdo del elemento */
    width: 100%; /* Establece el ancho de la franja al 100% del ancho del elemento */
    height: 5px; /* Establece la altura de la franja */
    background-color: #a77753; /* Color de la franja */
}

#mensaje {
    width: 100%;
    color: #B37E56;
    margin: 0 auto;
    justify-content: space-between;
    overflow-x: auto;
    background-color: #E9E0D1;
    padding: 20px;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    display: block; /* Asegura que el div esté visible */
    
}
