.section-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    
}
.subtitulo-1 {
        grid-column: 1/-1;
}

hr {
    grid-column: 1 / -1;
    border-color: #B37E56;
    margin-top: -19px; /* Ajustar el margen superior en píxeles */
    height: 1px; /* Establecer la altura del hr en 1 píxel */
}

.boton_registrar {
    margin: 10px;
}





.tabla_titulo {
    width: 80%;
    margin: 0 auto;
    display: block;
    justify-content: space-between;
    font-size: 1.5rem;
    /* font-weight: 800; */
    
    hr {
    width: 80%;
    /* margin: 0 auto; */
    padding: 20px;
    border-left: none;
    }
}



.acciones {
    display: flex;
    justify-content: space-around;

    button[type="submit"] {
    padding: 5px 10px;
    font-size: 16px;
    margin: 5px;
}
}

th {
    text-align: center;
}

@media screen and (min-width: 600px) {
    .section-form {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Ajustar a tres columnas en pantallas más grandes */
@media screen and (min-width: 900px) {
    .section-form {
        grid-template-columns: repeat(3, 1fr);
    }
}