.section-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    
}
.subtitulo-1 {
        grid-column: 1/-1;
}

hr {
    grid-column: 1 / -1;
    border-color: #B37E56;
    margin-top: -19px; /* Ajustar el margen superior en píxeles */
    height: 1px; /* Establecer la altura del hr en 1 píxel */
}

.boton_registrar {
    margin: 10px;
}

#cancelar {
    background-color: #C7B392;
    }
#cancelButton {
    background-color: #C7B392;
    }
td,th{
    width: calc(100% / 14);
}
.tabla_titulo {
    width: 80%;
    margin: 0 auto;
    display: block;
    justify-content: space-between;
    font-size: 1.5rem;
    /* font-weight: 800; */
    
    hr {
    width: 80%;
    /* margin: 0 auto; */
    padding: 20px;
    border-left: none;
    }
}



.acciones {
    display: flex;
    justify-content: space-around;

    button[type="submit"] {
    padding: 5px 10px;
    font-size: 16px;
    margin: 5px;
}
}

th {
    text-align: center;
}

/* Estilos para el campo obligatorio */
.campo-obligatorio {
    color: red; /* Color rojo para resaltar */
    font-size: 16px; /* Tamaño de fuente más pequeño */
    margin-left: 5px; /* Espaciado a la izquierda */
}

.centered{
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0 auto; /* Establece los márgenes izquierdo y derecho automáticamente */
    display: block; /* Asegura que el elemento sea tratado como un bloque */
    width: fit-content;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;}

    
.imagen_principal {
    background-image: url('../../public/Imagen_Principal_Produccion.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
}


@media screen and (min-width: 600px) {
    .section-form {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Ajustar a tres columnas en pantallas más grandes */
@media screen and (min-width: 900px) {
    .section-form {
        grid-template-columns: repeat(3, 1fr);
    }
}