.section-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    

    
}
.subtitulo-1 {
        grid-column: 1/-1;
}

hr {
    grid-column: 1 / -1;
    border-color: #B37E56;
    margin-top: -19px; /* Ajustar el margen superior en píxeles */
    height: 1px; /* Establecer la altura del hr en 1 píxel */
}

.boton_registrar {
    margin: 10px;
}

.grupo-boton-reg button.Boton_cancelar{
    background-color: #a77753;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-size: 1rem;
    text-decoration: none;
    transition: all 300ms;
}

.grupo-boton-reg button.Boton_cancelar:hover{
    background-color: #735137;
    transition: 300ms all;
}

td,th{
    width: calc(100% / 20);
}
.tabla_titulo {
    width: 80%;
    margin: 0 auto;
    display: block;
    justify-content: space-between;
    font-size: 1.5rem;
    /* font-weight: 800; */
    
    hr {
    width: 80%;
    /* margin: 0 auto; */
    padding: 20px;
    border-left: none;
    }
}



.acciones {
    display: flex;
    justify-content: space-around;

    button[type="submit"] {
    padding: 5px 10px;
    font-size: 16px;
    margin: 5px;
}
}

th {
    text-align: center;
}

/* Estilos para el campo obligatorio */
.campo-obligatorio {
    color: red; /* Color rojo para resaltar */
    font-size: 16px; /* Tamaño de fuente más pequeño */
    margin-left: 5px; /* Espaciado a la izquierda */
}

.centered{
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0 auto; /* Establece los márgenes izquierdo y derecho automáticamente */
    display: block; /* Asegura que el elemento sea tratado como un bloque */
    width: fit-content;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;}

    
.imagen_principal {
    background-image: url('../../public/Imagen_Principal_Produccion.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
}

.activo_en_pagina {
    color: black; /* Cambia el color del texto */
    position: relative; /* Establece la posición relativa para el posicionamiento absoluto del borde */
}

.activo_en_pagina:after {
    content: ''; /* Agrega contenido generado para la franja */
    position: absolute; /* Establece la posición absoluta */
    bottom: 0; /* Coloca la franja en la parte inferior del elemento */
    left: 0; /* Coloca la franja en el borde izquierdo del elemento */
    width: 100%; /* Establece el ancho de la franja al 100% del ancho del elemento */
    height: 5px; /* Establece la altura de la franja */
    background-color: #a77753; /* Color de la franja */
}

@media screen and (min-width: 600px) {
    .section-form {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Ajustar a tres columnas en pantallas más grandes */
@media screen and (min-width: 900px) {
    .section-form {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* th {
    width: 0%;
} */

/* Añadir una clase específica para la última sección */
.section-form-final {
    grid-template-columns: repeat(2, 1fr); /* Forzar a 2 columnas */
}

/* Mantener las otras media queries */
@media screen and (min-width: 600px) {
    .section-form {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px) {
    .section-form {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* No aplicar el ajuste de 3 columnas a la última sección */
@media screen and (min-width: 900px) {
    .section-form-final {
        grid-template-columns: repeat(2, 1fr); /* Asegurar 2 columnas */
    }
}
.tipo_dinero {
    text-align: right;
}

.contenedor-inferior {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grupo1 {
    margin: 0 20px; 
}

.grupo2 {
    margin: 0 20px; 
    width: 100%;
}