<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/public/css/cssFormulario.css">
<title>Formulario de Registro</title>
</head>
<body>

  <form id="Equipo3">
    <h1>Tabla 3</h1>

    <label for="campo1">campo 1</label><br>
    <input type="text" id="campo1" name="campo1"><br>
    
    <label for="campo3">campo 2</label><br>
    <input type="text" id="campo2" name="campo2"><br>
    
    <label for="campo3">campo 3</label><br>
    <input type="text" id="campo3" name="campo3"><br>
    
    <label for="campo4">campo 4</label><br>
    <input type="text" id="campo4" name="campo4"><br>
    
    <label for="camp5">campo 5</label><br>
    <textarea id="campo5" name="campo5"></textarea><br>
    
    <input type="submit" value="Enviar">
  </form>

<script src="../../controller/ejemplo/js/reg_equipo3.js"></script>

</body>
</html>
