<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../../public/css/cssFormulario.css">
<title>Formulario de Registro</title>
</head>
<body>

<form id="Equipo1">
    <h1>Tabla 1</h1>
    <label for="campo1">Nombre:</label><br>
    <input type="text" id="campo1" name="campo1" maxlength="40" required><br>
    <label for="campo2">Teléfono:</label><br>
    <input type="text" id="campo2" name="campo2" maxlength="10" required><br>
    <label for="campo3">Correo:</label><br>
    <input type="text" id="campo3" name="campo3" maxlength="60" required><br>
    <label for="campo4">ID:</label><br>
    <input type="text" id="campo4" name="campo4" maxlength="7"  required><br>
    <label for="campo5">Descripción:</label><br>
    <input type="text" id="campo5" name="campo5"><br>
    
    <input type="submit" value="Enviar" id="registrar">
</form>

<script src="../../controller/ejemplo/js/reg_equipo1.js"></script>
<script src="../ejemplo/equipo1/js/Validaciones_E1.js"></script> 
</body>
</html>