<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../../public/css/cssFormulario.css">
<title>Formulario de Edicion</title>
</head>
<body>

<form id="Equipo4">
    <h1>Tabla 4</h1>
    <label for="campo1">Teléfono:</label><br>
    <input type="text" id="campo1" name="campo1"><br>
    
    <label for="campo2">Código postal:</label><br>
    <input type="text" id="campo2" name="campo2"><br>
    
    <label for="campo3">Dirección:</label><br>
    <input type="text" id="campo3" name="campo3"><br>
    
    <label for="campo4">Apellido:</label><br>
    <input type="text" id="campo4" name="campo4"><br>
    
    <label for="campo5">Descripción:</label><br>
    <input type="text" id="campo5" name="campo5" disabled><br>
    
    <input type="submit" value="Enviar" id="submitButton">
    <button><a href="tabla4.html">Cancelar</a></button>
</form>
<script src="../ejemplo/equipo4/js/validaciones.js"></script>
<script src="../../controller/ejemplo/js/Modificar_Equipo4.js"></script>
</body>
</html>
