<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../../public/css/cssMostrar.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../controller/ejemplo/js/mostrar_equipo1.js"></script>

<title>Tabla con cuatro columnas</title>
</head>
<body>
  <div class="tablas">
    <section class="header_table" id="tablaResultado">

<table border="1">
  <tr>
    <th colspan="6">Equipo 1</th>
  </tr>
  <tr>
    <th>Nombre</th>
    <th>Teléfono</th>
    <th>Correo</th>
    <th>Id</th>
    <th>Descripción</th>
    <th>Acciones</th>
  </tr>
</table>
</section>
</div>
</body>
</html>

