<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/view/css/cssMostrar.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../controller/ejemplo/js/mostrar_equipo3.js"></script>

<title>Tabla con cuatro columnas</title>
</head>
<body>
  <div class="tablas">
    <section class="header_table" id="tablaResultado">

<table border="1">
  <tr>
    <th colspan="5">Equipo 3</th>
  </tr>
  <tr>
    <th>Campo 1</th>
    <th>Campo 2</th>
    <th>Campo 3</th>
    <th>Campo 4</th>
    <th>Campo 5</th>
  </tr>
</table>
</section>
</div>
</body>
</html>
