<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/Codigo_Recupera_Contra.css">
    <title>Código de recuperación</title>
</head>

<body>
    <div class="contentP">
        <div class="contLogo">
            <img class="img" src="../../public/mezcal-logo.webp" alt="">
        </div>
        <br>
        <p class="label-2">Código de recuperación</p>
        <form action="" id="formulario">
            <br>
            <div class="campos">
                <p class="label-3">Ingrese su código de recuperación</p>
                <div class="input-codigo">
                    <input type="input" class="input-format" id="codigo" name="codigo" maxlength="8"
                        title="Ingresa los 8 dígitos del código de recuperación." oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required>
                </div>
            </div>

            <input type="hidden" id="correo" name="correo" readonly>
            <input type="hidden" id="codigo2" name="codigo2" readonly>

            <div class="boton">
                <button type="submit" class="boton-registrar" id="submitButton">Verificar</button>
            </div>
        </form>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var correo = sessionStorage.getItem('correo');
                var codigo = sessionStorage.getItem('codigo');

                if (correo && codigo) {
                    document.getElementById('correo').value = correo;
                    document.getElementById('codigo2').value = codigo;
                } else {
                    console.log('No se proporcionaron el correo electrónico y/o el código de recuperación.');
                }

                sessionStorage.removeItem('correo');
                sessionStorage.removeItem('codigo');
            });
        </script>
    </div>
    <script src="js/Validacion_codigo.js"></script>
    <script src="../../controller/Recuperar_Contraseña/js/Codigo_Recupera_Contra.js"></script>
</body>

</html>