<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/Recuperar_Contra.css">
    <title>Recuperar contraseña</title>
</head>
<body>
    <div class="contentP">
        <div class="contLogo">
            <img class="img" src="../../public/mezcal-logo.webp" alt="">
        </div> 
        <br>
        <p class="label-2">Restablecer contraseña</p>
        <form action="" id="formulario">
            <br>
            <div class="campos">
                <p class="label-3">Para recuperar su cuenta, comience ingresando su correo electrónico</p>
                <p class="label-3">Correo electrónico</p>
                <input type="email" class="input-format" id="usuario" name="usuario" maxlength="40" placeholder="someone@example.com"
                    title="El email solo puede contener letras mayúsculas, minúsculas, números y caracteres especiales (., -, _, @)."> 
                <br>
            </div> 
            <br>
            <div class="boton">
                <button type="submit" class= "boton-registrar" id="submitButton">Guardar</button>
            </div>
        </form>
    </div>
    <script src="js/Validacion_correo.js"></script>
    <script src="../../controller/Recuperar_Contraseña/js/Recuperar_Contra_1.js"></script>
</body>
</html>