<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="..\../public/css/Plantilla.css">
    <link rel="stylesheet" href="..\../public/css/Plantilla_Menu.css">
    
	
</head>
<body>
    <header>
		<div class="header_superior">
			<div class="titulo">

				<div class="nombre_ventana">
					<img class="logo_mezcal" src="../../../public/mezcal-logo.webp" width="30px" alt="">
					<h1 class="nombre_Ventana">Usuarios</h1>
				</div>

			</div>

			<div class="boton-cerrar-session">
				
			</div>
		</div>

		<!-- Menu Desplegable -->
		<div class="container_menu">
			<div class="menu">
				<input type="checkbox" id="check__menu">
				
				<label id="label__check" for="check__menu">
					<i class="fa-sharp fa-solid fa-bars icon__menu"></i>
				</label>
				<nav>
					<ul>
		
						<li>
							<a href="#">
							<i ></i>
							Agrícola
							</a>
			
							<ul>
							<li><a >Registrar</a></li>
							<li><a >Consultar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Producción
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Consultar</a></li>
							</ul>
						</li>

                        <li>
							<a href="#">
								<i ></i>
								Envasado
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Consultar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Calidad
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Consultar</a></li>
							</ul>
						</li>

                        <li>
							<a href="#">
								<i ></i>
								Ventas
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Consultar</a></li>
							</ul>
						</li>

                        <li>
							<a href="#">
								<i ></i>
								Usuarios
							</a>
				
							<ul>
								<li ><a href="../Usuarios/Registro_Usuarios.html">Registro</a></li>
                                <li><a href="../Usuarios/Mostrar_Usuarios.html">Consultar</a></li>
							</ul>
						</li>

					</ul>
        		</nav>
      		</div>
    	</div>
    </header>

	<main>



            <section class="section-main">
                <div class="cabezera">
                    <h4 class="centered" >Bienvenido a Usuarios</h4>
                </div>
                <br>

                
                
                
            </section>
        
	</main>
    <footer>
        <p>Fábrica de Software del Instituto Tecnológico Superior Zacatecas Sur</p>
    </footer>
</body>
<script src="js/Validacion_Registro_Predios.js"></script>
<script src="../../../controller/Agricola/Predios/js/Registrar_Predio.js"></script>
</html>
