<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar usuario</title>

    <link rel="stylesheet" href="../../public/css/Plantilla.css">
    <link rel="stylesheet" href="../../public/css/Plantilla_Menu.css">
</head>
<body>
        <header>
        <div class="header_superior">
            <div class="titulo">

                <div class="nombre_ventana">
                    <img class="logo_mezcal" src="../../public/mezcal-logo.webp" width="30px" alt="">
                    <h1 class="nombre_Ventana">Usuarios</h1>
                </div>

            </div>

            <div class="boton-cerrar-session">

            </div>
        </div>

        <!-- Menu Desplegable -->
		<div class="container_menu">
			<div class="menu">
				<input type="checkbox" id="check__menu">
				
				<label id="label__check" for="check__menu">
					<i class="fa-sharp fa-solid fa-bars icon__menu"></i>
				</label>
				<nav>
					<ul>
		
						<li>
							<a href="#">
							<i ></i>
							Agrícola
							</a>
			
							<ul>
							<li><a >Registrar</a></li>
							<li><a >Consultar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Producción
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Consultar</a></li>
							</ul>
						</li>

                        <li>
							<a href="#">
								<i ></i>
								Envasado
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Consultar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Calidad
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Consultar</a></li>
							</ul>
						</li>

                        <li>
							<a href="#">
								<i ></i>
								Ventas
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Consultar</a></li>
							</ul>
						</li>

                        <li>
							<a href="#">
								<i ></i>
								Usuarios
							</a>
				
							<ul>
								<li ><a href="../Usuarios/Registro_Usuarios.html">Registro</a></li>
                                <li><a href="../Usuarios/Mostrar_Usuarios.html">Consultar</a></li>
							</ul>
						</li>

					</ul>
        		</nav>
      		</div>
    	</div>
    </header>

    <main>
        <section class="section-main">
            <div class="cabezera">
                <h4 class="h4">Registro</h4>
            </div>
              <br>
              <p class="subtitulo-1"> Datos del usuario</p>
              <hr>
            <br>
            <form class="formulario-datos" id="advanced-form">
                <div class="grupo1">
                    <label class="label_datos" for="nombre">Clave de usuario<span class="required">*</span>:</label>
                    <input type="text" id="clave_us" name="clave_us" required minlength="7"   title="La clave debe contener un máximo de 7 caracteres y solo se permiten letras y números.">
                </div>

                <div class="grupo1">
                    <label class="label_datos" for="nombre">Nombre<span class="required">*</span>:</label>
                    <input type="text" id="nombre_us" name="nombre_us" maxlength="40"  required title="El nombre debe contener un máximo de 40 caracteres y solo se permiten letras, espacios y el caracter '.'.">
                </div>

                <div class="grupo1">
                    <label class="label_datos" for="apellido">Apellido paterno<span class="required">*</span>:</label>
                    <input type="text" id="apellido_pat" name="apellido_pat" maxlength="20" required title="El apellido paterno debe contener un máximo de 20 caracteres los cuales solo pueden ser letras, espacios y opcionalmente el carácter '.'.">
                </div>

                <div class="grupo1">
                    <label class="label_datos" for="apellido">Apellido materno</label>
                    <input type="text" id="apellido_mat" name="apellido_mat" maxlength="20" title="El apellido materno es opcional. En caso de ponerlo debe contener un máximo de 20 caracteres los cuales solo pueden ser letras, espacios y opcionalmente el carácter '.'.">
                </div>

                <div class="grupo1">
                    <label class="label_datos" for="email">Email<span class="required">*</span>:</label>
                    <input type="email" id="email_us" name="email_us" maxlength="40" required title="El email puede contener un máximo de 40 caracteres, puede haber letras, números y caracteres especiales ('.','-','_') antes de la arroba, después de la arroba deberá tener la organización del correo electrónico y el tipo para ser aceptado.">
                </div>

                <div class="grupo1">
                    <label class="label_datos" for="email">Contraseña<span class="required">*</span>:</label>
                    <input type="password" id="email" name="email" required title="La contraseña debe contener entre 8 y 16 caracteres, de los cuales al menos uno debe ser una mayúscula, minúscula, un número y un carácter especial (., ',' , _, +, *, /,!,@,#,$).">
                </div>

				<div class="grupo1">
                    <label class="label_datos" for="email">Confirmar contraseña<span class="required">*</span>:</label>
                    <input type="password" id="email2" name="email2" required title="La contraseña debe contener entre 8 y 16 caracteres, de los cuales al menos uno debe ser una mayúscula, minúscula, un número y un carácter especial (., ',' , _, +, *, /,!,@,#,$).">
                </div>

                <div class="grupo1">
                    <label class="label_datos" for="area_us">Área<span class="required">*</span>:</label>
                    <select id="area_us" name="area_us" required>
                    </select>
                </div>

                <div class="grupo1">
                    <label class="label_datos" for="tipo_us">Tipo de usuario<span class="required">*</span>:</label>
                    <select id="tipo_us" name="tipo_us" required>
                    </select>
                </div>

                <div class="grupo-boton-reg">
                    <div class="boton_registrar">
                        <button type="submit" id="submitButton">Guardar</button>
                        <a class="Boton_cancelar" href="Registro_Usuarios.html" id="cancelarButton">Cancelar</a>
                    </div>
                </div>
            
            </form>
        </section>
    </main>

    <footer>
        <p>Fábrica de Software del Instituto Tecnológico Superior Zacatecas Sur</p>
    </footer>
    <script src="js/Validacion_usuario.js"></script>
    <script src="../../controller/Usuarios/js/Registro_Usuario.js"></script>
</body>
</html>