<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de herbicidas</title>
    <link rel="stylesheet" href="../../../public/css/cssAgricola.css">
	<link rel="stylesheet" href="../../../public/css/Plantilla_Menu.css">
	<link rel="stylesheet" href="../../../public/css/Plantilla.css">
</head>
<body>
    <header>
		<div class="header_superior">
			<div class="img-ventana">
				<img class="logo_mezcal" src="../../../public/mezcal-logo.webp" width="30px" alt="">
				
			</div>
			<div class="nombre_ventana">
				<h1 class="nombre_Ventana">Agrícola</h1>
			</div>
		
            <div class="boton-cerrar-session">
				<button class="btn-cerrar-session btn" onclick="window.location.href = '../../../controller/login/Logout.php' ">Cerrar sesión</button>
            </div>
        </div>

	<!-- Menu Desplegable -->
	<div class="container_menu">
		<div class="menu">
			<input type="checkbox" id="check__menu">
			
			<label id="label__check" for="check__menu">
				<i class="fa-sharp fa-solid fa-bars icon__menu"></i>
			</label>
<nav>
				<ul>
	
					<li>
						<a href="#">
							<i ></i>
							Predios y plantas
						</a>
			
						<ul>
							<li><a href="../Predios/Registro_Predios.html">Registrar predios</a></li>
							<li><a href="../Predios/Vista_Predios.html">Consultar predios</a></li>
							<hr>
							<li><a href="../Predios/Registro_Plantas.html">Registrar plantas</a></li>
							<li><a href="../Predios/Vista_Plantas.html">Consultar plantas</a></li>
						</ul>
					</li>
	
					<li>
						<a href="#" class="activo_en_pagina">
							<i ></i>
							Plagas y herbicidas
						</a>
			
						<ul>
							<li><a href="Registro_Plagas.html">Registrar plagas</a></li>
							<li><a href="Vista_Plagas.html">Consultar plagas</a></li>
							<hr>
							<li><a href="Registro_Herbicidas.html">Registrar herbicidas</a></li>
							<li><a href="Vista_Herbicidas.html">Consultar herbicidas</a></li>
						</ul>
					</li>

					<li>
						<a href="#">
							<i ></i>
							Control de enfermedades y plagas
						</a>
			
						<ul>
							<li><a href="">Registrar</a></li>
							<li><a href="">Consultar</a></li>
						</ul>
					</li>
	
					<li>
						<a href="#">
							<i ></i>
							Mantenimientos
						</a>
			
						<ul>
							<li><a href="">Registrar</a></li>
							<li><a href="">Consultar</a></li>
						</ul>
					</li>

					<li>
						<a href="#">
							<i ></i>
							Control de mantenimientos
						</a>
			
						<ul>
							<li><a href="">Registrar</a></li>
						<li><a href="">Consultar</a></li>
						</ul>
					</li>

				</ul>
			</nav>
		  </div>
	</div>
</header>
	<main>
        <section class="section-main">
            <div class="cabezera">
                <h4 class="h4">Registro</h4>
            </div>
            <br>
            <p class="subtitulo-1"> Ingreso de herbicidas</p>
            <hr>
                <form id="advanced-form">
                    <div class="formulario-datos2">
                        <div>
                            <label for="nomHerb">Nombre del herbicida<span class="campo-obligatorio">*</span></label>
                            <input type="text" id="nomHerb" name="nomHerb" class="styled-input"  title="El nombre no debe de tener mas de 40 caracteres, solo letras espacios y puntos" required>
                        </div>
						<div>
                            <label for="fabriHerb">Fabricante<span class="campo-obligatorio">*</span></label>
                            <input type="text" id="fabriHerb" name="fabriHerb" class="styled-input"  title="El nombre no debe de tener mas de 60 caracteres, solo letras espacios y puntos" required>
                        </div>
					</div>
					<div>
						<label for="descHerb">Descripción</label>
						<textarea id="descHerb" name="descHerb" rows="4" title="La descripción debe de contener un máximo de 120 caracteres"></textarea>
					</div>
					<div class="grupo-boton-reg">
						<div class="boton_registrar">
							<button type="submit" id="submitButton">Registrar</button>
							<button type="button" id="cancelButton" class="Boton_cancelar">Cancelar</button>
						</div>
					</div>
				</form>

        </section>

	</main>
    <footer>
        <p>Fábrica de Software del Instituto Tecnológico Superior Zacatecas Sur</p>
    </footer>
</body>
<script src="../../../controller/Agricola/Plagas_Y_Herbicidas/js/Registro_Herbicidas.js"></script>
<script src="js/Validacion_Herbicidas.js"></script>
</html>
