<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de actividades</title>
    <link rel="stylesheet" href="../../../public/css/cssAgricola.css">
	<link rel="stylesheet" href="../../../public/css/Plantilla_Menu.css">
	<link rel="stylesheet" href="../../../public/css/Plantilla.css">
</head>
<body>
    <header>
		<div class="header_superior">
			<div class="img-ventana">
				<img class="logo_mezcal" src="../../../public/mezcal-logo.webp" width="30px" alt="">
				
			</div>
			<div class="nombre_ventana">
				<h1 class="nombre_Ventana">Agricola</h1>
			</div>
		
            <div class="boton-cerrar-session">
				<button class="btn-cerrar-session btn" onclick="window.location.href = '../../../controller/login/Logout.php' ">Cerrar sesión</button>
            </div>
        </div>

		<!-- Menu Desplegable -->
		<div class="container_menu">
			<div class="menu">
				<input type="checkbox" id="check__menu">
				
				<label id="label__check" for="check__menu">
					<i class="fa-sharp fa-solid fa-bars icon__menu"></i>
				</label>
				<nav>
					<ul>
		
						<li>
							<a href="#">
								<i ></i>
								Predios y plantas
							</a>
				
							<ul>
								<li><a href="../Predios/Registro_Predios.html">Registrar predios</a></li>
								<li><a href="../Predios/Vista_Predios.html">Consultar predios</a></li>
								<hr>
								<li><a href="../Predios/Registro_Plantas.html">Registrar plantas</a></li>
								<li><a href="../Predios/Vista_Plantas.html">Consultar plantas</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Plagas y herbicidas
							</a>
				
							<ul>
								<li><a href="../Plagas_y_herbicidas/Registro_Plagas.html">Registrar plagas</a></li>
								<li><a href="../Plagas_y_herbicidas/Vista_Plagas.html">Consultar plagas</a></li>
								<hr>
								<li><a href="../Plagas_y_herbicidas/Registro_Herbicidas.html">Registrar herbicidas</a></li>
								<li><a href="../Plagas_y_herbicidas/Vista_Herbicidas.html">Consultar herbicidas</a></li>
							</ul>
						</li>

						<li>
							<a href="#">
								<i ></i>
								Control de enfermedades y plagas
							</a>
				
							<ul>
								<li><a href="">Registrar</a></li>
								<li><a href="">Consultar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Mantenimientos
							</a>
				
							<ul>
								<li><a href="">Registrar</a></li>
								<li><a href="">Consultar</a></li>
							</ul>
						</li>

						<li>
							<a href="#">
								<i ></i>
								Control de mantenimientos
							</a>
				
							<ul>
								<li><a href="">Registrar</a></li>
							<li><a href="">Consultar</a></li>
							</ul>
						</li>
	
					</ul>
        		</nav>
      		</div>
    	</div>
	</header>
	<main>
		<section class="section-main">
			<div class="cabezera">
				<h4 class="h4">Registrar</h4>
			</div>
				<br>
				<p class="subtitulo-1">Registro de la actividad</p>
				<hr>
				<form id="advanced-form">
					<div class="formulario-datos">
						<div>
							<label for="actividadSele">Seleccione la actividad realizada<span class="campo-obligatorio">*</span></label>
							<select id="actividadSele" name="actividadSele" class="styled-input" required></select>
						</div>
							<div>
								<label for="fechaIni">Seleccione la fecha de inico de la actividad<span class="campo-obligatorio">*</span></label>
								<input type="date" id="fechaIni" name="fechaIni" class="styled-input" required>
							</div>
							<div>
								<label for="fechaFin">Fecha de Fin de la actividad<span class="campo-obligatorio">*</span></label>
								<input type="date" id="fechaFin" name="fechaFin" class="styled-input" readonly>
							</div>
					</div>
					<div>
						<div>
							<label for="descAct">Descripcion de la actividad<span class="campo-obligatorio">*</span></label>
							<textarea id="descAct" name="descAct" rows="4"></textarea>
						</div>
					</div>
					<div>
						<label for="cosPre">¿Hubo costos implicados?<span class="campo-obligatorio">*</span></label>
						<br>
						<div class="radioList">
							<input type="radio" id="cosPre" name="cosPre" value="si">Si
							<input type="radio" id="cosPre" name="cosPre" value="no">No
						</div>
					</div>
		</section>
		<section class="section-main">
			<p class="subtitulo-1">Registro de gastos</p>
			<hr>
			<div class="formulario-datos">
				<div>
					<label for="nomTrab">Nombre del trabajador<span class="campo-obligatorio">*</span></label>
					<input type="text" id="nomTrab" name="nomTrab" class="styled-input" required>
				</div>
				<div>
					<label for="gasGas">Gasto de la gasolina ($)<span class="campo-obligatorio">*</span></label>
					<input type="text" id="gasGas" name="gasGas" class="styled-input" required>
				</div>
				<div>
					<label for="desVei">Datos del vehiculo<span class="campo-obligatorio">*</span></label>
					<input type="text" id="desVei" name="desVei" class="styled-input" required>
				</div>
				<div>
					<label for="gasLiq">Gasto de liquidos ($)</label>
					<input type="text" id="gasLiq" name="gasLiq" class="styled-input">
				</div>
				<div>
					<label for="gasMat">Compra de material ($)</label>
					<input type="text" id="gasMat" name="gasMat" class="styled-input">
				</div>
				<div>
					<label for="gasExt">Gastos extras ($)</label>
					<input type="text" id="gasExt" name="gasExt" class="styled-input">
				</div>
			</div>
			<div class="formulario-datos2">
				<div>
					<label for="actDes">Actividad desarrollada:</label>
					<textarea id="actDes" name="actDes" class="styled-input" rows="4"></textarea>
				</div>
				<div>
					<label for="diaLunes">Seleccione la los dias tabajados en la actividad<span class="campo-obligatorio">*</span></label>
					<br>
					<div class="checklist">
						<div class="columnacheck">
							<input type="checkbox" id="diaLunes" name="diaLunes" class="custom-checkbox">Lunes
							<br>
							<input type="checkbox" id="diaMartes" name="diaMartes" class="custom-checkbox">Martes
							<br>
							<input type="checkbox" id="diaMiercoles" name="diaMiercoles" class="custom-checkbox">Miercoles
						</div>
						<div class="columnacheck">
							<input type="checkbox" id="diaJueves" name="diaJueves" class="custom-checkbox">Jueves
							<br>
							<input type="checkbox" id="diaViernes" name="diaViernes" class="custom-checkbox">Viernes
							<br>
							<input type="checkbox" id="diaSabado" name="diaSabado" class="custom-checkbox">Sabado
						</div>
					</div>	
				</div>
			</div>
			<div>
				<button type="button" id="anadirGasto" class="anade">Añadir</button>
			</div>
		</section>

		<section class="section-main">
			<table>
				<thead>
					<tr>
						<th>Nombre del trabajador</th>
						<th>Dias trabajados</th>
						<th>actividade desarrollada</th>
						<th>Gasolina</th>
						<th>Datos del vehiculo</th>
						<th>Liquidos</th>
						<th>Compra de material</th>
						<th>Gastos extras</th>
						<th>Total</th>
						<th>Eliminar</th>
					</tr>
				</thead>
			</table>
			</div>	
		</section>

		<section class="section-main">
			<div class="grupo-boton-reg">
				<div class="boton_registrar">
					<button type="submit" id="submitButton">Guardar</button>
					<button type="button" id="cancelButton" class="Boton_cancelar">Cancelar</button>
				</div>
		</section>

	</form>
	</main>
    <footer>
        <p>Fábrica de Software del Instituto Tecnológico Superior Zacatecas Sur</p>
    </footer>
</body>
</html>