<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de calidad</title>

    <link rel="stylesheet" href="../../public/css/calidad_Historial.css">
</head>

<body>
    <header>
        <div class="header_superior">
            <div class="titulo">

                <div class="nombre_ventana">
                    <img class="logo_mezcal" src="../../public/mezcal-logo.webp" width="30px" alt="">
                    <h1 class="nombre_Ventana">Historial de calidad</h1>
                </div>

            </div>

            <div class="boton-cerrar-session">

            </div>
        </div>

        <!-- Menu Desplegable -->
		<div class="container_menu">
			<div class="menu">
				<input type="checkbox" id="check__menu">
				
				<label id="label__check" for="check__menu">
					<i class="fa-sharp fa-solid fa-bars icon__menu"></i>
				</label>
				<nav>
					<ul>
		
						<li>
							<a href="#">
							<i ></i>
							Agrícola
							</a>
			
							<ul>
							<li><a >Registrar</a></li>
							<li><a >Consultar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Producción
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Consultar</a></li>
							</ul>
						</li>

                        <li>
							<a href="#">
								<i ></i>
								Envasado
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Consultar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Calidad
							</a>
				
							<ul>
								<li><a href="../Calidad/Registro_General.html">Análisis general</a></li>
                                <li><a href="../Calidad/Mostrar_Fisioquimico.html">Análisis fisioquímico</a></li>
                                <li><a href="../Calidad/Valores_Min_Max.html">Valores mínimos y máximos</a></li>
								<li><a href="../Calidad/Mostrar_Calidad.html">Consultar</a></li>
							</ul>
						</li>

                        <li>
							<a href="#">
								<i ></i>
								Ventas
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Consultar</a></li>
							</ul>
						</li>

                        <li>
							<a href="#">
								<i ></i>
								Usuarios
							</a>
				
							<ul>
								<li ><a href="../Usuarios/Registro_Usuarios.html">Registro</a></li>
                                <li><a href="../Usuarios/Mostrar_Usuarios.html">Consultar</a></li>
							</ul>
						</li>

					</ul>
        		</nav>
      		</div>
    	</div>
    </header>

    
    <main>
        <section class="section-main">
            <div class="cabezera">
                <h4 class="h4">Historial</h4>
            </div>
              <hr>
            <br>
            <form class="historial" id="advanced-form">
            
                <div class="tabla-historial">
                    <table>
                        <thead>
                            <tr>
                                <th>Lote</th>
                                <th>Proceso de el lote</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Dato 1</td>
                                <td>Dato 2</td>
                            </tr>
                            <tr>
                                <td>Dato 4</td>
                                <td>Dato 5</td>
                            </tr>
                            <tr>
                                <td>Dato 7</td>
                                <td>Dato 8</td>
                            </tr>
                        </tbody>

                    </table>
                </div>      
            </form>
        </section>
    </main>



           
</body>

</html>