<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/cssMostrar.css">
	<link rel="stylesheet" href="../../public/css/Plantilla_Menu.css">
    <link rel="stylesheet" href="../../public/css/cssCalidad.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/cssMostrar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../controller/Calidad/js/Mostrar_AnalisisCalidad.js"></script>

    <title>Análisis general</title>

    <link rel="stylesheet" href="../../public/css/Plantilla.css">
    <link rel="stylesheet" href="../../public/css/Plantilla_Menu.css">
</head>

<body>
    <header>
        <div class="header_superior">
			<div class="img-ventana">
				<img class="logo_mezcal" src="../../public/mezcal-logo.webp" width="30px" alt="">
				
			</div>
			<div class="nombre_ventana">
				<h1 class="nombre_Ventana">Análisis general</h1>
			</div>
		
            <div class="boton-cerrar-session">
				<button class="btn-cerrar-session btn" onclick="window.location.href = '../../controller/Login/Logout.php' ">Cerrar sesión</button>
            </div>
        </div>

        <!-- Menu Desplegable -->
		<div class="container_menu">
			<div class="menu">
				<input type="checkbox" id="check__menu">
				
				<label id="label__check" for="check__menu">
					<i class="fa-sharp fa-solid fa-bars icon__menu"></i>
				</label>
				<nav>
					<ul>
		
						<li>
							<a href="#" class="activo_en_pagina">
							<i ></i>
							Análisis general
							</a>
			
							<ul>
								<li><a href="../Calidad/Registro_General.html">Registro de análisis</a></li>
                                <li><a href="../Calidad/Mostrar_Calidad.html">Consultar análisis</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Análisis ficoquímico
							</a>
				
							<ul>
                                <li><a href="../Calidad/Registro_Fisioquimico.html">Registro análisis</a></li>
                                <li><a href="../Calidad/Mostrar_Fisioquimico.html">Consultar análisis</a></li>
                                <li><a href="../Calidad/Valores_Min_Max.html">Valores mínimos y máximos</a></li>
							</ul>
						</li>

                        <li>
							<a href="#">
								<i ></i>
								Destilados, cremas y licores
							</a>
				
							<ul>
                                <li><a href="../Calidad/Registro_DCL.html">Registro de análisis</a></li>
                                <li><a href="../Calidad/Mostrar_DCL.html">Consultar de análisis</a></li>
                                <li><a href="../Calidad/Valores_Min_Max_DCL.html">Valores mínimos y máximos</a></li>
							</ul>
						</li>

                        <li>
							<a href="#">
								<i ></i>
								Control de calidad
							</a>
				
							<ul>
                                <li><a href="../Calidad/Registro_Control_Calidad.html">Registro de análisis</a></li>
                                <li><a href="../Calidad/Mostrar_Control_Calidad.html">Consultar análisis</a></li>
							</ul>
						</li>

					</ul>
        		</nav>
      		</div>
    	</div>
    </header>


    <main>
        <section class="section-main">
            <div class="cabezera">
                <h4 class="h4">Análisis de Calidad</h4>
            </div>
            <br>
            <p class="subtitulo-1"> Análisis registrados</p>
            <hr>
            <br>
            <input type="text" id="buscar-txt" name="buscar-txt" placeholder="Buscar">

            <div class="tablas">
                <section class="header_table" id="tablaResultado">

                    <table border="1">
                        <tr>
                            <th colspan="7">Análisis Registrados</th>
                        </tr>
                        <tr>
                            <th>Lote</th>
                            <th>Azucares</th>
                            <th>Madurez</th>
                            <th>Tamaño Materia</th>
                            <th>Acciones</th>
                        </tr>
                    </table>
                </section>
            </div>
            <span id="mensaje"  >No se encontraron resultados</span>
        </section>
    </main>

	<footer>
        <p>Fábrica de Software del Instituto Tecnológico Superior Zacatecas Sur</p>
    </footer>
</body>

</html>

    <title>Consultar usuario</title>

    <link rel="stylesheet" href="../../public/css/Plantilla.css">
    <link rel="stylesheet" href="../../public/css/Plantilla_Menu.css">
</head>

<body>
    <header>
        <div class="header_superior">
			<div class="img-ventana">
				<img class="logo_mezcal" src="../../public/mezcal-logo.webp" width="30px" alt="">
				
			</div>
			<div class="nombre_ventana">
				<h1 class="nombre_Ventana">Análisis general</h1>
			</div>
            
		
            <div class="boton-cerrar-session">
				<button class="btn-cerrar-session btn">Cerrar sesión</button>
            </div>
        </div>
  

	<footer>
        <p>Fábrica de Software del Instituto Tecnológico Superior Zacatecas Sur</p>
    </footer>
    <script src="js/Busqueda_Inteligente_Calidad.js"></script>
</body>

</html>