<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analisis individual de calidad</title>

    <link rel="stylesheet" href="../../public/css/Plantilla.css">
    <link rel="stylesheet" href="../../public/css/Plantilla_Menu.css">
</head>

<body>
    <header>
        <div class="header_superior">
			<div class="img-ventana">
				<img class="logo_mezcal" src="../../public/mezcal-logo.webp" width="30px" alt="">
				
			</div>
			<div class="nombre_ventana">
				<h1 class="nombre_Ventana">Analisis individual de calidad</h1>
			</div>
		
            <div class="boton-cerrar-session">
				<button class="btn-cerrar-session btn" onclick="window.location.href = '../../controller/Login/Logout.php' ">Cerrar sesión</button>
            </div>
        </div>

        <!-- Menu Desplegable -->
		<div class="container_menu">
			<div class="menu">
				<input type="checkbox" id="check__menu">
				
				<label id="label__check" for="check__menu">
					<i class="fa-sharp fa-solid fa-bars icon__menu"></i>
				</label>
				<nav>
					<ul>
		
						<li>
							<a href="#">
							<i ></i>
							Análisis general
							</a>
			
							<ul>
								<li><a href="../Calidad/Registro_General.html">Registro de análisis</a></li>
                                <li><a href="../Calidad/Mostrar_Calidad.html">Consultar análisis</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Análisis fisicoquímico
							</a>
				
							<ul>
                                <li><a href="../Calidad/Mostrar_Fisioquimico.html">Consultar análisis</a></li>
                                <li><a href="../Calidad/Valores_Min_Max.html">Valores mínimos y máximos</a></li>
							</ul>
						</li>

                        <li>
							<a href="#">
								<i ></i>
								Destilados, cremas y licores
							</a>
				
							<ul>
                                <li><a href="../Calidad/Mostrar_DCL.html">Registro de análisis</a></li>
                                <li><a href="../Calidad/Valores_Min_Max_DCL.html">Valores mínimos y máximos</a></li>
							</ul>
						</li>

                        <li>
							<a href="#">
								<i ></i>
								Control de calidad
							</a>
				
							<ul>
                                <li><a href="../Calidad/Registro_Control_Calidad.html">Registro de análisis</a></li>
                                <li><a href="../Calidad/Mostrar_Control_Calidad.html">Consultar análisis</a></li>
							</ul>
						</li>

					</ul>
        		</nav>
      		</div>
    	</div>
    </header>

    <main>
        <section class="section-main">
            <div class="cabezera">
                <h4 class="h4">Analsis Individual</h4>
            </div>
            <br>
            <p class="subtitulo-1"> Datos del analisis</p>
            <hr>
            <br>
            <form class="formulario-datos" id="advanced-form">

                <input type="hidden" name="id" id="inputId">

                <div class="grupo1">
                    <label class="label_datos" for="loteC">Lote</label>
                    <input type="text" id="lote_cal" name="lote_cal" required readonly title="El Lote no puede ser modificada.">
                </div>

                <div class="grupo1">
                    <label class="label_datos" for="azucares">Azucares<span class="required">*</span>:</label>
                    <input type="text" id="azucares_cal" name="azucares_cal" required readonly title="Los azucares no puede ser modificada.">
                </div>

                <div class="grupo1">
                    <label class="label_datos" for="madurez">Madurez<span class="required">*</span>:</label>
                    <input type="text" id="madurez_cal" name="madurez_cal" required readonly title="La madurez no puede ser modificada.">
                </div>

                <div class="grupo1">
                    <label class="label_datos" for="TamMat">Tamaño Materia</label>
                    <input type="text" id="tamañomateria_cal" name="tamañomateria_cal" required readonly title="El tamaño de la materia no puede ser modificada.">
                </div>              



                <div class="grupo-boton-reg">
                    <div class="boton_registrar">
						<a class="Boton_cancelar" href="Mostrar_Calidad.html" id="cancelarButton">Regresar</a>
                    </div>
                </div>

            </form>
        </section>
    </main>

    <footer>
        <p>Fábrica de Software del Instituto Tecnológico Superior Zacatecas Sur</p>
    </footer>

    <script src="../../controller/Calidad/js/Mostrar_AnalisisIndividual.js"></script>
    <script src="../../controller/Calidad/js/Cancelar_AnalisisIndividual.js"></script>
    
</body>

</html>