<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/cssMostrar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/cssMostrar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../controller/Calidad/js/Mostrar_AnalisisCalidad.js"></script>

    <title>Ver análisis generales</title>

    <link rel="stylesheet" href="../../public/css/Plantilla.css">
    <link rel="stylesheet" href="../../public/css/Plantilla_Menu.css">
</head>

<body>
    <header>
        <div class="header_superior">
			<div class="img-ventana">
				<img class="logo_mezcal" src="../../public/mezcal-logo.webp" width="30px" alt="">
				
			</div>
			<div class="nombre_ventana">
				<h1 class="nombre_Ventana">Calidad</h1>
			</div>
		
            <div class="boton-cerrar-session">
				<button class="btn-cerrar-session btn">Cerrar sesión</button>
            </div>
        </div>

        <!-- Menu Desplegable -->
		<div class="container_menu">
			<div class="menu">
				<input type="checkbox" id="check__menu">
				
				<label id="label__check" for="check__menu">
					<i class="fa-sharp fa-solid fa-bars icon__menu"></i>
				</label>
				<nav>
					<ul>
		
						<li>
							<a href="#">
							<i ></i>
							Calidad
							</a>
			
							<ul>
							<li><a >Registrar</a></li>
							<li><a >Consultar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Producción
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Consultar</a></li>
							</ul>
						</li>

                        <li>
							<a href="#">
								<i ></i>
								Envasado
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Consultar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Calidad
							</a>
				
							<ul>
								<li><a href="../Calidad/Registro_General.html">Registro de análisis general</a></li>
                                <li><a href="../Calidad/Registro_Fisioquimico.html">Registro de análisis fisioquímico</a></li>
                                <li><a href="../Calidad/Mostrar_Calidad.html">Consultar análisis generales</a></li>
                                <li><a href="../Calidad/Mostrar_Fisioquimico.html">Consultar análisis fisioquímicos</a></li>
                                <li><a href="../Calidad/Valores_Min_Max.html">Valores mínimos y máximos</a></li>
							</ul>
						</li>

                        <li>
							<a href="#">
								<i ></i>
								Ventas
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Consultar</a></li>
							</ul>
						</li>

                        <li>
							<a href="#">
								<i ></i>
								Usuarios
							</a>
				
							<ul>
								<li ><a href="../Usuarios/Registro_Usuarios.html">Registro</a></li>
                                <li><a href="../Usuarios/Mostrar_Usuarios.html">Consultar</a></li>
							</ul>
						</li>

					</ul>
        		</nav>
      		</div>
    	</div>
    </header>


    <main>
        <section class="section-main">
            <div class="cabezera">
                <h4 class="h4">Analisis de Calidad</h4>
            </div>
            <br>
            <p class="subtitulo-1"> Analisis registrados</p>
            <hr>
            <br>

            <div class="tablas">
                <section class="header_table" id="tablaResultado">

                    <table border="1">
                        <tr>
                            <th colspan="7">Analisis Registrados</th>
                        </tr>
                        <tr>
                            <th>Lote</th>
                            <th>Azucares</th>
                            <th>Madurez</th>
                            <th>Tamaño Materia</th>
                            <th>Acciones</th>
                        </tr>
                    </table>
                </section>
            </div>

        </section>
    </main>

	<footer>
        <p>Fábrica de Software del Instituto Tecnológico Superior Zacatecas Sur</p>
    </footer>
</body>

</html>

    <title>Consultar usuario</title>

    <link rel="stylesheet" href="../../public/css/Plantilla.css">
    <link rel="stylesheet" href="../../public/css/Plantilla_Menu.css">
</head>

<body>
    <header>
        <div class="header_superior">
			<div class="img-ventana">
				<img class="logo_mezcal" src="../../public/mezcal-logo.webp" width="30px" alt="">
				
			</div>
			<div class="nombre_ventana">
				<h1 class="nombre_Ventana">Calidad</h1>
			</div>
		
            <div class="boton-cerrar-session">
				<button class="btn-cerrar-session btn">Cerrar sesión</button>
            </div>
        </div>
  

	<footer>
        <p>Fábrica de Software del Instituto Tecnológico Superior Zacatecas Sur</p>
    </footer>
</body>

</html>