<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de análisis fisioquímico</title>

    <link rel="stylesheet" href="../../public/css/Plantilla.css">
    <link rel="stylesheet" href="../../public/css/Plantilla_Menu.css">
</head>
<body>
        <header>
        <div class="header_superior">
            <div class="titulo">

                <div class="nombre_ventana">
                    <img class="logo_mezcal" src="../../public/mezcal-logo.webp" width="30px" alt="">
                    <h1 class="nombre_Ventana">Calidad</h1>
                </div>

            </div>

            <div class="boton-cerrar-session">

            </div>
        </div>

        <!-- Menu Desplegable -->
		<div class="container_menu">
			<div class="menu">
				<input type="checkbox" id="check__menu">
				
				<label id="label__check" for="check__menu">
					<i class="fa-sharp fa-solid fa-bars icon__menu"></i>
				</label>
				<nav>
					<ul>
		
						<li>
							<a href="#">
							<i ></i>
							Agrícola
							</a>
			
							<ul>
							<li><a >Registrar</a></li>
							<li><a >Consultar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Producción
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Consultar</a></li>
							</ul>
						</li>

                        <li>
							<a href="#">
								<i ></i>
								Envasado
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Consultar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Calidad
							</a>
				
							<ul>
								<li><a >Análisis general</a></li>
                                <li><a >Análisis fisioquímico</a></li>
                                <li><a >Valores mínimos y máximos</a></li>
								<li><a >Consultar</a></li>
							</ul>
						</li>

                        <li>
							<a href="#">
								<i ></i>
								Ventas
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Consultar</a></li>
							</ul>
						</li>

                        <li>
							<a href="#">
								<i ></i>
								Usuarios
							</a>
				
							<ul>
								<li ><a href="../Usuarios/Registro_Usuarios.html">Registro</a></li>
                                <li><a href="../Usuarios/Mostrar_Usuarios.html">Consultar</a></li>
							</ul>
						</li>

					</ul>
        		</nav>
      		</div>
    	</div>
    </header>

    <main>
        <section class="section-main">
            <div class="cabezera">
                <h4 class="h4">Registro</h4>
            </div>

            <br>
            <p class="subtitulo-1"> Análisis fisioquímico</p>
            <hr>
            <br>

            <!-- Formulario de analisis fisioquimico -->
            <form class="formulario-datos" id="advanced-form">

                <div class="grupo1">
                    <label class="label_datos" for="nombre">Clave:<span class="required">*</span></label>
                    <input type="text" id="clave_analisis" name="clave_analisis" maxlength="10"  required title="El nombre debe contener un máximo de 40 caracteres y solo se permiten letras, espacios y el caracter '.'.">
                </div>

                <div class="grupo1">
                    <label class="label_datos" for="area_us">Lote:<span class="required">*</span></label>
                    <select id="lote" name="lote" required>
                        <option value="">Selecciona</option>
                    </select>
                </div>

                <div class="grupo1">
                    <label class="label_datos" for="nombre">Alcohol:<span class="required">*</span></label>
                    <input type="text" id="alcohol" name="alcohol" maxlength="6"  required title="El nombre debe contener un máximo de 40 caracteres y solo se permiten letras, espacios y el caracter '.'.">
                </div>

                <div class="grupo1">
                    <label class="label_datos" for="nombre">Extracto seco:<span class="required">*</span></label>
                    <input type="text" id="ext_seco" name="ext_seco" maxlength="6"  required title="El nombre debe contener un máximo de 40 caracteres y solo se permiten letras, espacios y el caracter '.'.">
                </div>

                <div class="grupo1">
                    <label class="label_datos" for="nombre">Metanol:<span class="required">*</span></label>
                    <input type="text" id="metanol" name="metanol" maxlength="6"  required title="El nombre debe contener un máximo de 40 caracteres y solo se permiten letras, espacios y el caracter '.'.">
                </div>

                <div class="grupo1">
                    <label class="label_datos" for="nombre">Alcoholes superiores:<span class="required">*</span></label>
                    <input type="text" id="alcohol_sup" name="alcohol_sup" maxlength="6"  required title="El nombre debe contener un máximo de 40 caracteres y solo se permiten letras, espacios y el caracter '.'.">
                </div>

                <div class="grupo1">
                    <label class="label_datos" for="nombre">Aldehídos:<span class="required">*</span></label>
                    <input type="text" id="aldehidos" name="aldehidos" maxlength="6"  required title="El nombre debe contener un máximo de 40 caracteres y solo se permiten letras, espacios y el caracter '.'.">
                </div>

                <div class="grupo1">
                    <label class="label_datos" for="nombre">Furfural:<span class="required">*</span></label>
                    <input type="text" id="furfural" name="furfural" maxlength="6"  required title="El nombre debe contener un máximo de 40 caracteres y solo se permiten letras, espacios y el caracter '.'.">
                </div>

                <div class="grupo1">
                    <label class="label_datos" for="nombre">Plomo:<span class="required">*</span></label>
                    <input type="text" id="plomo" name="plomo" maxlength="6"  required title="El nombre debe contener un máximo de 40 caracteres y solo se permiten letras, espacios y el caracter '.'.">
                </div>

                <div class="grupo1">
                    <label class="label_datos" for="nombre">Cobre:<span class="required">*</span></label>
                    <input type="text" id="cobre" name="cobre" maxlength="6"  required title="El nombre debe contener un máximo de 40 caracteres y solo se permiten letras, espacios y el caracter '.'.">
                </div>

                <div class="grupo1">
                    <label class="label_datos" for="nombre">Documento de referencia:<span class="required">*</span></label>
                    <input type="file" id="doc_ref" name="doc_ref" maxlength="1"  required title="El nombre debe contener un máximo de 40 caracteres y solo se permiten letras, espacios y el caracter '.'.">
                </div>


                <div class="grupo-boton-reg">
                    <div class="boton_registrar">
                        <button type="submit" id="submitButton">Guardar</button>
                        <a class="Boton_cancelar" href="Registro_Fisioquimico.html" id="cancelarButton">Cancelar</a>
                    </div>
                </div>

                

            </form>

            

            
        </section>
    </main>

    <footer>
        <p>Fábrica de Software del Instituto Tecnológico Superior Zacatecas Sur</p>
    </footer>
    <script src="js/Validacion_Fisioquimico.js"></script>
    <script src="../../controller/Calidad/js/Registro_Fisioquimico.js"></script>
</body>
</html>