<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrícola</title>
    <link rel="stylesheet" href="..\../public/css/Plantilla.css">
    <link rel="stylesheet" href="..\../public/css/Plantilla_Menu.css">
    <link rel="stylesheet" href="..\../public/css/agricola.css">
    
	
</head>
<body>
    <header>
		<div class="header_superior">
			<div class="titulo">

				<div class="nombre_ventana">
					<img class="logo_mezcal" src="../../../public/mezcal-logo.webp" width="30px" alt="">
					<h1 class="nombre_Ventana">Agrícola</h1>
				</div>

			</div>

			<div class="boton-cerrar-session">
				
			</div>
		</div>

		<!-- Menu Desplegable -->
		<div class="container_menu">
			<div class="menu">
				<input type="checkbox" id="check__menu">
				
				<label id="label__check" for="check__menu">
					<i class="fa-sharp fa-solid fa-bars icon__menu"></i>
				</label>
				<nav>
					<ul>
		
						<li>
							<a href="#">
								<i ></i>
								Predios
							</a>
				
							<ul>
								<li><a href="../Predios/Registro_Predios.html">Registrar</a></li>
								<li><a href="../Predios/Vista_Predios.html">Consultar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Plagas y herbicidas
							</a>
				
							<ul>
								<li><a href="../Plagas y enfermedades/Registro_Plagas_Y_Enfermedades.html">Registrar</a></li>
								<li><a href="">Consultar</a></li>
							</ul>
						</li>

						<li>
							<a href="#">
								<i ></i>
								Control de enfermedades y plagas
							</a>
				
							<ul>
								<li><a href="">Registrar</a></li>
								<li><a href="">Consultar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Mantenimientos
							</a>
				
							<ul>
								<li><a href="">Registrar</a></li>
								<li><a href="">Consultar</a></li>
							</ul>
						</li>

						<li>
							<a href="#">
								<i ></i>
								Control de mantenimientos
							</a>
				
							<ul>
								<li><a href="">Registrar</a></li>
							<li><a href="">Consultar</a></li>
							</ul>
						</li>
	
					</ul>
        		</nav>
      		</div>
    	</div>
	</header>

	<main>



            <section class="section-main">
                <div class="cabezera">
                    <h4 class="centered" >Bienvenido a Agrícola</h4>
                </div>
                <div class="imagen-container">
                    <div class="imagen-wrapper">
                        <img class="imagen-responsive" src="/public/Jimador.jpg">
                    </div>
                </div>
                <br>

                
                
                
            </section>
        
	</main>
    <footer>
        <p>Fábrica de Software del Instituto Tecnológico Superior Zacatecas Sur</p>
    </footer>
</body>
<script src="js/Validacion_Registro_Predios.js"></script>
<script src="../../../controller/Agricola/Predios/js/Registrar_Predio.js"></script>
</html>
