<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de predios</title>
    <link rel="stylesheet" href="../../../public/css/cssAgricola.css">
	<link rel="stylesheet" href="../../../public/css/Plantilla_Menu.css">
	<link rel="stylesheet" href="../../../public/css/Plantilla.css">
</head>
<body>
    <header>
		<div class="header_superior">
			<div class="titulo">

				<div class="nombre_ventana">
					<img class="logo_mezcal" src="../../../public/mezcal-logo.webp" width="30px" alt="">
					<h1 class="nombre_Ventana">Agrícola</h1>
				</div>

			</div>

			<div class="boton-cerrar-session">
				
			</div>
		</div>

		<!-- Menu Desplegable -->
		<div class="container_menu">
			<div class="menu">
				<input type="checkbox" id="check__menu">
				
				<label id="label__check" for="check__menu">
					<i class="fa-sharp fa-solid fa-bars icon__menu"></i>
				</label>
<nav>
					<ul>
		
						<li>
							<a href="#">
								<i ></i>
								Predios y plantas
							</a>
				
							<ul>
								<li><a href="../Predios/Registro_Predios.html">Registrar predios</a></li>
								<li><a href="../Predios/Vista_Predios.html">Consultar predios</a></li>
								<hr>
								<li><a href="../Predios/Registro_Plantas.html">Registrar plantas</a></li>
								<li><a href="../Predios/Vista_Plantas.html">Consultar plantas</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Plagas y herbicidas
							</a>
				
							<ul>
								<li><a href="../Plagas_y_herbicidas/Registro_Plagas.html">Registrar plagas</a></li>
								<li><a href="../Plagas_y_herbicidas/Vista_Plagas.html">Consultar plagas</a></li>
								<hr>
								<li><a href="../Plagas_y_herbicidas/Registro_Herbicidas.html">Registrar herbicidas</a></li>
								<li><a href="../Plagas_y_herbicidas/Vista_Herbicidas.html">Consultar herbicidas</a></li>
							</ul>
						</li>

						<li>
							<a href="#">
								<i ></i>
								Control de enfermedades y plagas
							</a>
				
							<ul>
								<li><a href="">Registrar</a></li>
								<li><a href="">Consultar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Mantenimientos
							</a>
				
							<ul>
								<li><a href="">Registrar</a></li>
								<li><a href="">Consultar</a></li>
							</ul>
						</li>

						<li>
							<a href="#">
								<i ></i>
								Control de mantenimientos
							</a>
				
							<ul>
								<li><a href="">Registrar</a></li>
							<li><a href="">Consultar</a></li>
							</ul>
						</li>
	
					</ul>
        		</nav>
      		</div>
    	</div>
	</header>

	<main>


    <section class="section-main">
        <div class="cabezera">
			<h4 class="h4">Registrar</h4>
		</div>
		<br>
		<p class="subtitulo-1"> Ingreso de Predio</p>
		<hr>
            <form id="advanced-form">
				<div class="formulario-datos">
					<div>
						<label for="codArea">Clave del predio<span class="campo-obligatorio">*</span></label>
						<input type="text" id="codArea" name="codArea"  class="styled-input" title="La clave del predio debe contener entre 5 y 10 caracteres, de los cuales solo deben de ser letras y números" required>
					</div>
					<div>
						<label for="nomPred">Nombre del predio<span class="campo-obligatorio">*</span></label>
						<input type="text" id="nomPred" name="nomPred"  class="styled-input" title="El nombre de predio debe contener máximo 20 caracteres, de los cuales solo deben de ser letras y números" required>
					</div>
					<div>
					<label for="superfPre">Superficie (Ha)<span class="campo-obligatorio">*</span></label>
						<input type="text" id="superfPre" name="superfPre" class="styled-input" title="La superficie del predio debe contener un máximo de 5 caracteres, de los cuales solo deben de ser números" required>
					</div>
				</div>
                <div>
                    <label for="descPre">Descripción</label>
                    <textarea id="descPre" name="desdescPrec" rows="4" title="La descripción debe de contener un máximo de 120 caracteres"></textarea>
                </div>
                
				<div class="grupo-boton-reg">
					<div class="boton_registrar">
                		<button type="submit" id="submitButton">Registrar</button>
						<button type="button" id="cancelButton" class="Boton_cancelar">Cancelar</button>
					</div>
				</div>
            </form>
        </div>
    </section>
	</main>
    <footer>
        <p>Fábrica de Software del Instituto Tecnológico Superior Zacatecas Sur</p>
    </footer>
</body>
<script src="js/Validacion_Registro_Predios.js"></script>
<script src="../../../controller/Agricola/Predios/js/Registrar_Predio.js"></script>
</html>
