    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Vista de predios</title>
            <link rel="stylesheet" href="../../../public/css/cssAgricola.css">
            <link rel="stylesheet" href="../../../public/css/Plantilla.css">
            <link rel="stylesheet" href="../../../public/css/Plantilla_Menu.css">
        </head>
    <body>
        <header>
            <div class="header_superior">
                <div class="titulo">
    
                    <div class="nombre_ventana">
                        <img class="logo_mezcal" src="../../../public/mezcal-logo.webp" width="30px" alt="">
                        <h1 class="nombre_Ventana">Agricola</h1>
                    </div>
    
                </div>
    
                <div class="boton-cerrar-session">
                    
                </div>
            </div>
    
            <!-- Menu Desplegable -->
            <div class="container_menu">
                <div class="menu">
                    <input type="checkbox" id="check__menu">
                    
                    <label id="label__check" for="check__menu">
                        <i class="fa-sharp fa-solid fa-bars icon__menu"></i>
                    </label>
                    <nav>
                        <ul>
            
                            <li>
                                <a href="#">
                                    <i ></i>
                                    Usuarios
                                </a>
                    
                                <ul>
                                    <li><a >Mostrar</a></li>
                                </ul>
                            </li>
            
                            <li>
                                <a href="#">
                                <i ></i>
                                Trabajadores
                                </a>
                
                                <ul>
                                <li><a >Registrar</a></li>
                                <li><a >Mostrar</a></li>
                                </ul>
                            </li>
            
                            <li>
                                <a href="#">
                                    <i ></i>
                                    Certificaciones
                                </a>
                    
                                <ul>
                                    <li><a >Registrar</a></li>
                                    <li><a >Mostrar</a></li>
                                </ul>
                            </li>
            
                            <li>
                                <a href="#">
                                    <i ></i>
                                    Cursos
                                </a>
                    
                                <ul>
                                    <li><a >Registrar</a></li>
                                    <li><a >Mostrar</a></li>
                                </ul>
                            </li>
        
                        </ul>
                    </nav>
                  </div>
            </div>
        </header>

        <main>
        <h1 class="titulo_form">Predios</h1>
        <hr>

        <section class="container">
            <table>
                <thead>
                    <tr>
                        <th>Clave de predio</th>
                        <th>Nombre del predio</th>
                        <th>Superficie</th>
                        <th>Descripcion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </table>
        </section>
        
        </main>

        <footer>
            <p>Fábrica de Software del Instituto Tecnológico Superior Zacatecas Sur</p>
        </footer>
    </body>
    </html>