<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Tabla 3</title>
    
</head>
<body>
    <script src="../../controller/equipo3/js/mostrar_tabla3.js"></script>
    <input type="text" class="input-format-2" placeholder="Buscar" name="busqueda" id="busqueda"><br><br>
    <div class="tabla3">
        <section class="header_table" id="tablaResultado">

        </section>
    </div>
</body>


</html>