<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar insumos</title>

    <link rel="stylesheet" href="../../public/css/Plantilla.css">
    <link rel="stylesheet" href="../../public/css/Plantilla_Menu.css">
	<link rel="stylesheet" href="../../public/css/insumos.css">
	<link rel="stylesheet" href="../../public/css/Productos_insumos.css">
    
</head>
<body>
    <header>
		<div class="header_superior">
			<div class="img-ventana">

				<img class="logo_mezcal" src="../../public/mezcal-logo.webp" width="30px" alt="">
				</div>
				<div class="nombre_ventana">
				<h1 class="nombre_Ventana">Productos</h1>
			</div>

			<div class="boton-cerrar-session">
				<button class="btn-cerrar-session btn">Cerrar sesión</button>
				
			</div>
		</div>

		<!-- Menu Desplegable -->
		<div class="container_menu">
			<div class="menu">
				<input type="checkbox" id="check__menu">
				
				<label id="label__check" for="check__menu">
					<i class="fa-sharp fa-solid fa-bars icon__menu"></i>
				</label>
				<nav>
					<ul>
		
						<li>
							<a href="../../view/insumos/Principal_Insumos.html">
								<i ></i>
								Insumos
							</a>
				
                            
							<ul>
								<li><a href="../../view/insumos/Registro_Insumos.html">Registrar</a></li>
                                <li><a href="../../view/insumos/Mostrar_Insumos.html">Consultar</a></li>
							</ul>
						</li>

						<li>
							<a href="">
								<i ></i>
								Productos
							</a>
							<ul>
								<li><a href="../../view/insumos/Registro_Producto.html">Registrar</a></li>
								<li><a href="../../view/insumos/Mostrar_Producto.html">Consultar</a></li>
							</ul>
						</li>


						<li>
							<a href="">
								<i ></i>
								Inventario
							</a>
							<ul>
								<li><a href="../../view/insumos/Inventario_Insumos.html">Insumos</a></li>
								<li><a href="../../view/insumos/Inventario_Productos.html">Productos</a></li>
							</ul>
						</li>

						<li>
							<a href="">
								<i ></i>
								Movimiento insumo
							</a>
				
                            
							<ul>
								<li><a href="../../view/insumos/Registro_Entradas_Salidas_Insumos.html">Registrar</a></li>
                                <li><a href="../../view/insumos/Mostrar_Movimiento_Insumos_General.html">Consultar</a></li>
							</ul>
						</li>
						<li>
							<a href="">
								<i ></i>
								Movimiento producto
							</a>
				
                            
							<ul>
								<li><a href="../../view/insumos/Registro_Entradas_Salidas_Producto.html">Registrar</a></li>
                                <li><a href="../../view/insumos/Mostrar_Movimiento_Productos_General.html">Consultar</a></li>
							</ul>
						</li>
		
						
		
						
					</ul>
        		</nav>
      		</div>
    	</div>
	</header>

    <main>
        <section class="section-main">
			<div class="cabezera">
				<h4 class="h4">Edición de productos</h4>
			</div>
			<br>
			<p class="subtitulo-1">Datos de los productos</p>
			<hr>
			<br>

			<form class="formulario" id="insumos_form">
				<div class="formulario-colum">
				
					<div class="grupo1">
						<label class="label_datos" for="Compras">Identificador<span class="campo-obligatorio">*</span></label>
						<input type="text" id="Identificador" name="Identificador" title="El identificador de insumo puede ser de hasta 40 caracteres conformado de caracteres alfanuméricos." required maxlength="40">
					</div>

					<div class="grupo1">
						<label class="label_datos" for="Nombre">Nombre<span class="campo-obligatorio">*</span></label>
						<input type="text" id="Nombre" name="Nombre" maxlength="50"
						title="Nombre del insumo de hasta 50 caracteres incluyendo letras, números y símbolos '.'" required>
					</div>
					
					
					
					<div class="grupo1">
						<label class="label_datos" for="Stockmi">Stock minimo<span class="campo-obligatorio">*</span></label>
						<input type="number" id="Stockmi" name="Stockmi" title="Cantidad mínima del insumo (Conformado por caracteres enteros)." required>
					</div>	
					
					<div class="grupo1">
						<label class="label_datos" for="Stockma">Stock máximo<span class="campo-obligatorio">*</span></label>
						<input type="number" id="Stockma" name="Stockma" title="Cantidad máxima del insumo (Conformado por caracteres enteros)." required>
					</div>

					<div class="grupo1">
						<label class="label_datos" for="CProm">Costo promocional<span class="campo-obligatorio">*</span></label>
						<input type="text" id="CProm" name="CProm" title="Costo promocional (Conformado por números y un punto decimal)." required>
					</div>

					<div class="grupo1">
						<label class="label_datos" for="UCosto">Último costo<span class="campo-obligatorio">*</span></label>
						<input type="text" id="UCosto" name="UCosto" title="Último costo (Conformado por números y un punto decimal." required>
					</div>

					<div class="grupo1">
						<label class="label_datos" for="cantidad">Cantidad<span class="campo-obligatorio">*</span></label>
						<input type="number" id="cantidad" name="cantidad" title="Cantidad actual del insumo (Conformado por caracteres enteros)." required>
					</div>
					
	
				</div>
					<div class="grupo1">
						<label class="label_datos" for="Nombre">Descripción</label>
						<textarea name="Descripcion" id="Descripcion" cols="30" rows="10" maxlength="50"
						class="NoResizable" title="Descripción del insumo de máximo 100 caracteres incluyendo letras, números y símbolos ('.', ',', '_', '-')"></textarea>
					</div>

			</div>

			<script>
				function cancelar(){
					r = confirm("Los cambios relizados no se guardarán ¿Desea continuar?");
					if(r == true){
						window.location.href = "../../view/insumos/Mostrar_Producto.html";
					}
					else{
						return false;
					}
				}
			</script>
				
				<div class="grupo-boton-reg">
					<div class="boton_registrar">
						<button type="submit" id="registrar">Enviar</button>
						<button type="button" id="Cancelar" onclick="cancelar()">Cancelar</button>
					</div>
				</div>
			</form>
		
		</section>
        
    </main>


    <footer>
        <p>Fábrica de Software del Instituto Tecnológico Superior Zacatecas Sur</p>
    </footer>

	<script src="../../view/insumos/js/Valida_Reg_Producto.js"></script>
	<script src="../../controller/Insumos/js/Modificar_Producto.js"></script>
</body>
</html>