<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar insumos</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../../public/css/Plantilla.css">
    <link rel="stylesheet" href="../../public/css/Plantilla_Menu.css">
	
    
</head>
<body>
    <header>
		<div class="header_superior">
			<div class="titulo">

				<div class="nombre_ventana">
					<img class="logo_mezcal" src="../../public/mezcal-logo.webp" width="30px" alt="">
					<h1 class="nombre_Ventana">Insumos</h1>
				</div>

			</div>

			<div class="boton-cerrar-session">
				
			</div>
		</div>

		<!-- Menu Desplegable -->
		<div class="container_menu">
			<div class="menu">
				<input type="checkbox" id="check__menu">
				
				<label id="label__check" for="check__menu">
					<i class="fa-sharp fa-solid fa-bars icon__menu"></i>
				</label>
				<nav>
					<ul>
		
						<li>
							<a href="Principal_Insumos.html">
								<i ></i>
								Insumos
							</a>
				
                            
							<ul>
								<li><a href="Registro_Insumos.html">Registrar</a></li>
                                <li><a href="Mostrar_Insumos.html">Consultar</a></li>
							</ul>
						</li>

						<li>
							<a href="">
								<i ></i>
								Productos
							</a>
							<ul>
								<li><a href="Registro_Producto.html">Registrar</a></li>
								<li><a href="Mostrar_Producto.html">Consultar</a></li>
							</ul>
						</li>


						<li>
							<a href="">
								<i ></i>
								Inventario
							</a>
							<ul>
								<li><a href="Inventario_Insumos.html">Insumos</a></li>
								<li><a href="Inventario_Productos.html">Productos</a></li>
							</ul>
						</li>

						<li>
							<a href="">
								<i ></i>
								Movimiento insumo
							</a>
				
                            
							<ul>
								<li><a href="Registro_Entradas_Salidas_Insumos.html">Registrar</a></li>
                                <li><a href="Mostrar_EntradasSalidas_Insumo.html">Consultar</a></li>
							</ul>
						</li>
						<li>
							<a href="">
								<i ></i>
								Movimiento producto
							</a>
				
                            
							<ul>
								<li><a href="Registro_Entradas_Salidas_Producto.html">Registrar</a></li>
                                <li><a href="Mostrar_Entradas_Salidas_Producto.html">Consultar</a></li>
							</ul>
						</li>
		
						
		
						
					</ul>
        		</nav>
      		</div>
    	</div>
	</header>

    
<main>

    <section class="section-main">
		<div class="cabezera">
			<h4 class="h4">Producto</h4>

		</div>
		<br>
		<p class="subtitulo-1">Vista de producto entrada/salida</p>
		<hr>
		<br>

		<div class="tablas">
			<section class="header_table" id="tablaResultado">

				<table border="1">
					<tr>
						<th colspan="8">Datos de los producto</th>
					</tr>
					<tr>
						<th>Id producto</th>
						<th>Fecha</th>
						<th>Entrada/Salida</th>
						<th>Id Movimiento</th>
						<th>Destino</th>
						<th>Cantidad</th>
						<th>Costo unitario</th>
						<th>Costo total</th>
					</tr>
					
					
				</table>
			</section>
		</div>
	</section>
</main>



	<br><br><br><br><br><br>
    <footer>
        <p>Fábrica de Software del Instituto Tecnológico Superior Zacatecas Sur</p>
    </footer>
	
	
	
</body>
</html>