<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro insumos</title>

    <link rel="stylesheet" href="../../public/css/Plantilla.css">
    <link rel="stylesheet" href="../../public/css/Plantilla_Menu.css">
    <link rel="stylesheet" href="../../public/css/insumos.css">
</head>
<body>
    <header>
		<div class="header_superior">
			<div class="titulo">

				<div class="nombre_ventana">
					<img class="logo_mezcal" src="../../public/mezcal-logo.webp" width="30px" alt="">
					<h1 class="nombre_Ventana">Productos</h1>
				</div>

			</div>

			<div class="boton-cerrar-session">
				
			</div>
		</div>

		<!-- Menu Desplegable -->
		<div class="container_menu">
			<div class="menu">
				<input type="checkbox" id="check__menu">
				
				<label id="label__check" for="check__menu">
					<i class="fa-sharp fa-solid fa-bars icon__menu"></i>
				</label>
				<nav>
					<ul>
		
						<li>
							<a href="Principal_Insumos.html">
								<i ></i>
								Insumos
							</a>
				
                            
							<ul>
                                <li><a href="Mostrar_Insumos.html">Consultar</a></li>
                                <li><a href="Editar_Insumos.html">Editar</a></li>
							</ul>
						</li>

						<li>
							<a href="">
								<i ></i>
								Productos
							</a>
							<ul>
								<li><a href="">Registrar</a></li>
                                <li><a href="">Consultar</a></li>
                                <li><a href="">Editar</a></li>
							</ul>
						</li>
						<li>
							<a href="">
								<i ></i>
								Entrada/Salida insumos
							</a>
				
                            
							<ul>
                                <li><a href="">Consultar</a></li>
							</ul>
						</li>
						<li>
							<a href="">
								<i ></i>
								Entrada/Salida producto
							</a>
				
                            
							<ul>
								<li><a href="">Registrar</a></li>
                                <li><a href="">Consultar</a></li>
							</ul>
						</li>
		
						
		
						
					</ul>
        		</nav>
      		</div>
    	</div>
	</header>

    <main>
		<section class="section-main">
			<div class="cabezera">
				<h4 class="h4">Registro</h4>
			</div>
			<br>
			<p class="subtitulo-1">Datos de Producto temindado</p>
			<hr>
			<br>

				
			<form class="formulario" id="insumos_form">
				<div class="formulario-colum">


					<div class="grupo1">
						<label class="label_datos" for="ID">Id insumos<span class="campo-obligatorio">*</span>:</label>
						<input type="text" id="Id_insumos" name="Id_insumos" title="Es el identificador de los insumos" required>
					</div>

					
					<div class="grupo1">
						<label class="label_datos" for="Fecha">Fecha<span class="campo-obligatorio">*</span>:</label>
						<input type="date" id="Fecha" name="Fecha" title="Es la fecha con la que se resaliso el reguistro" required>
					</div>

					<div class="grupo1">
						<label class="label_datos" for="Entrada_Salida">Entrada/Salida<span class="campo-obligatorio">*</span>:</label>
						<input type="text" id="Entrada_Salida" name="Entrada_Salida" title="Si es entrada o salida" required>
					</div>
					


					<div class="grupo1">
						<label class="label_datos" for="ID Movimient">Id Movimiento<span class="campo-obligatorio">*</span>:</label>
						<input type="number" id="Id_Movimient" name="Id_Movimient" title="El identificador  de si es entrada o salida" required>
					</div>

					<div class="grupo1">
						<label class="label_datos" for="Destino">Destino<span class="campo-obligatorio">*</span>:</label>
						<input type="text" id="Destino" name="Destino" title="A donde se dirige" required>
					</div>

					<div class="grupo1">
						<label class="label_datos" for="Cantidad">Cantidad<span class="campo-obligatorio">*</span>:</label>
						<input type="number" id="Cantidad" name="Cantidad" title="Cuanto se va a reguistrar" required>
					</div>

					<div class="grupo1">
						<label class="label_datos" for="Costo unitario">Costo unitario<span class="campo-obligatorio">*</span>:</label>
						<input type="number" id="CostoU" name="CostoU" title="El costo por cada uno de los productos" required>
					</div>

					<div class="grupo1">
						<label class="label_datos" for="Costo total">Costo total<span class="campo-obligatorio">*</span>:</label>
						<input type="number" id="CostoT" name="CostoT" title="El costo de todos por productos" required>
					</div>
				
					
				
				
				<div class="grupo-boton-reg">
					<div class="boton_registrar">
						<button type="submit" id="registrar">Guardar</button>
						<button type="button" class="Boton_cancelar">Cancelar</button>
					</div>
				</div>
			</form>
		
		</section>
        
    </main>


    <footer>
        <p>Fábrica de Software del Instituto Tecnológico Superior Zacatecas Sur</p>
    </footer>
</body>
</html>