<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro insumos</title>

    <link rel="stylesheet" href="../../public/css/Plantilla.css">
    <link rel="stylesheet" href="../../public/css/Plantilla_Menu.css">
</head>
<body>
    <header>
		<div class="header_superior">
			<div class="titulo">

				<div class="nombre_ventana">
					<img class="logo_mezcal" src="../../public/mezcal-logo.webp" width="30px" alt="">
					<h1 class="nombre_Ventana">Insumos</h1>
				</div>

			</div>

			<div class="boton-cerrar-session">
				
			</div>
		</div>

		<!-- Menu Desplegable -->
		<div class="container_menu">
			<div class="menu">
				<input type="checkbox" id="check__menu">
				
				<label id="label__check" for="check__menu">
					<i class="fa-sharp fa-solid fa-bars icon__menu"></i>
				</label>
				<nav>
					<ul>
		
						<li>
							<a href="#">
								<i ></i>
								Usuarios
							</a>
				
							<ul>
								<li><a >Mostrar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
							<i ></i>
							Trabajadores
							</a>
			
							<ul>
							<li><a >Registrar</a></li>
							<li><a >Mostrar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Certificaciones
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Mostrar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Cursos
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Mostrar</a></li>
							</ul>
						</li>
					</ul>
        		</nav>
      		</div>
    	</div>
	</header>

    <main>
        <section class="container">
            <div class="column">
                <h2>Reguistro de insumos</h2>
                <form id="advanced-form">
                    <div>
                        <label for="Compras">Compras:</label>
                        <input type="text" id="COMPRAS" name="COMPRAS" required>
                    </div>
                    <div>
                        <label for="Produccion">Producción (inventario de gráneles):</label>
                        <input type="text" id="Produccion" name="Produccion" required>
                    </div>
                    <div>
                        <label for="Devoluciones">Devoluciones de producción:</label>
                        <input type="text" id="Devoluciones" name="Devoluciones" required>
                    </div>
                    <div>
                        <label for="A_Inventario">Ajustes de inventario:</label>
                        <input type="text" id="A_Inventario" name="A_Inventario" required>
                    </div>
                    <button type="submit">Enviar</button>
                </form>
            </div>
            
        </section>

        
    </main>

    <section class="container">
        <table>
            <thead>
                <tr>
                    <th>Compras</th>
                    <th>Producción (inventario de gráneles)</th>
                    <th>Devoluciones de producción</th>
					<th>Ajustes de inventario</th>
					<th></th>
                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
                <tr>
					
                </tr>
				<tr>
				</tr>
            </tbody>
        </table>
    </section>

    <footer>
        <p>Fábrica de Software del Instituto Tecnológico Superior Zacatecas Sur</p>
    </footer>
</body>
</html>