<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/Style_Loging.css"> <!-- Ajusta la ruta del archivo CSS -->
    <title>Interfaz de Usuario</title>
</head>
<body>
    <div class="container">
        <img src="../public/imagen_fondo.jpg" alt="Background Image" class="background-img"> <!-- Ajusta la ruta de la imagen de fondo -->
        <div class="overlay">
            <img src="../public/perfilusuario.jpg" alt="Imagen de perfil del usuario" class="profile-img">
            
            <div class="content">
                 <!-- <h1>Bienvenido</h1>-->
                 <div class="input-group">
                    <input type="text" placeholder="Usuario"> 
                    <input type="password" placeholder="Contraseña">
                    <a href="#">¿Olvidaste tu<br>contraseña?</a>
                    <button>ENTRAR</button>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay-custom">
        <img src="../public/mezcal-logo.webp" alt="Imagen personalizada" class="custom-img"> <!-- Ajusta la ruta de la imagen personalizada -->
    </div>
</body>
</html>
