<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <script src="https://kit.fontawesome.com/f8c41f1595.js" crossorigin="anonymous"></script>
	<link rel="icon" href="../../public/img/ciscig-notch.png" sizes="32x32">
    <link rel="stylesheet" href="../public/css/Plantilla_Menu.css">
</head>

<body>
	<header>
		<div class="header_superior">
			<div class="titulo">

				<div class="nombre_ventana">
					<img class="logo_mezcal" src="../public/mezcal-logo.webp" width="30px" alt="">
					<h1 class="nombre_Ventana">Menú</h1>
				</div>

			</div>

			<div class="boton-cerrar-session">
				
			</div>
		</div>

		<!-- Menu Desplegable -->
		<div class="container_menu">
			<div class="menu">
				<input type="checkbox" id="check__menu">
				
				<label id="label__check" for="check__menu">
					<i class="fa-sharp fa-solid fa-bars icon__menu"></i>
				</label>
				<nav>
					<ul>
		
						<li>
							<a href="#">
								<i ></i>
								Usuarios
							</a>
				
							<ul>
								<li><a href="Usuarios/Mostrar_Usuarios.html">Mostrar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
							<i ></i>
							Trabajadores
							</a>
			
							<ul>
							<li><a >Registrar</a></li>
							<li><a >Mostrar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Certificaciones
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Mostrar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i ></i>
								Cursos
							</a>
				
							<ul>
								<li><a >Registrar</a></li>
								<li><a >Mostrar</a></li>
							</ul>
						</li>
	
					</ul>
        		</nav>
      		</div>
    	</div>
	</header>

	<main>

	</main>